/* 
font import
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap');

* {
    font-family: Roboto, san-serif;
}

/* 
Grid and background color
*/
body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 3fr;
    grid-template-areas:
    "dashboard header"
    "dashboard projects";
   
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    background-color: #dbeafe;
}
/* 
header
*/
.header {
    grid-area: header;
    display: grid;
    grid-template: .5fr 1fr / repeat(10, 1fr);
    align-items: center;

    padding: 1rem 3rem;


    background-color: #eff6ff;
}
/* 
header search bar
*/
.header .search-bar {
    grid-area: 1 / 1 / 2 / 8;
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 15px;

    

}
.header .search-bar .bar {
    grid-column: 2;

    width: 80%;
    height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 15px;

    background-color: #dbeafe;
}
.header .search-bar img {
    width: 30px;
    height: 30px;
}

.header .menu {
    grid-area: 1 / 8 / 2 / 11;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}
.header .notification img {
    width: 24px;
    height: 24px;
}
.header .logo img {
    height: 2rem;
    width: auto;
}
.header .name {
    grid-column: 3 / 6;
}
.header .name p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
}
/* 
header banner
*/
.header .banner {
    grid-area: 2 / 1 / 3 / 5;
    display: grid;
    grid-template: 1fr 1fr / 1fr 4fr;
    grid-template-areas:
    "logo msg"
    "logo name";
}
.header .banner img {
    grid-area: logo;
    align-self: center;
    height: 3rem;
    width: auto;

}
.header .banner p {
    grid-area: msg;

    font-weight: 700;
    align-self: center;
}
.header .banner h4 {
    grid-area: name;

    font-size: 1.5rem;
    font-weight: 900;
}
.header .banner p, .header .banner h4 {
    padding: 0;
    margin: 0;
}
/* 
header navigation
*/
.header .navigation {
    grid-area: 2 / 7 / 3 / 11;
}
.header .navigation ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;

    padding: 0;
    margin: 0;
    
}
.header .navigation li {
    display: grid;
    align-items: center;
    background-color: #2563eb;
    height: 40px;
    width: 100px;
    

    border-radius: 2rem;
    
    font-size: 1rem;
    font-weight: 700;
    color: #eff6ff;
    list-style: none;
    text-align: center;

}

.dashboard {
    grid-area: dashboard;
    display: grid;
    grid-template-rows: 48px 4fr 5fr;
    grid-template-areas: 
    "dashboard-logo"
    "dashboard-navigation"
    "dashboard-system";
    gap: 24px;

    background-color: #2563eb;
    padding: 1rem;
}
.dashboard-logo {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 24px;
    align-items: center;
}
.dashboard-logo p {
    margin: 0;

    color: #eff6ff;
    font-weight: 700;
    font-size: 1.5rem;

}
.dashboard ul {
    padding: 0;
}
.dashboard li {
    list-style: none;
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    gap: 24px;

    line-height: 1rem;

}
.dashboard li img {
    width: 24px;
    height: 24px;
}
.dashboard li p {
    color: #eff6ff;
    font-size: 1.2rem;
}

.project {
    grid-area: projects;
    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
    grid-template-areas:
    "project announcements"
    "project trending";
}
.project .projects {
    grid-area: project;
}
.project .announcements {
    grid-area: announcements;
}
.project .trending {
    grid-area: trending;
}
